.event-content{
  grid-column: 1 / 9;
  display: flex;
  flex-direction: column;


  &__info{
    background: #c0c0c07d;
    padding: 2rem;
    border-radius: .7rem;
    margin-top: 2rem;
    text-align: right;
    border: solid 1px #b9b9b9;
  }

  &__body{
    padding: 3rem;

    .text-right {
      text-align: right;
    }

    p{
      margin-bottom: 0rem;
    }
  }
}
.event-aside{
  grid-column: 9 / -1;
}

.event-edit{
  padding: 2rem;

}

.events-index{
  grid-column: 1 / span 9;

  h1{
    padding-bottom: 3rem;
  }
}

// modul event aside
.event > .card {
  .card-body:hover {
  background: rgba(242, 242, 242, 0.87);
  }
 a:hover {
   text-decoration: none;
 }
}


.event-show{



  &__a{

  grid-column: 1 / 9;
    padding: 2rem;
  img{
    width: 100%;
  }

  }

  &__b{
    grid-column: 9 / -1;
    padding: 2rem;

    img{
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

}



.event-item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  grid-gap:2rem;
  margin-bottom: 4rem;
  padding: 2rem;


  &__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__picture {
    max-height: 15rem;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }



  &:hover{
    background: rgba(241, 241, 241, 0.76);
    transition: .3s all ease;
  }

  img{
    width: 100%;
  }
}

.event{
  font-size: 1.2rem;
  h5{
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }



  .datatime{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem ;
    //display: flex;
    //justify-content: space-between;

  }


}

.casomiera{
  background: $color-primary;
  color: white;
  margin: .2rem -1rem;
  padding: .3rem .7rem;
}



.event-edit{

  grid-column: 1 / -1;




  .form-edit{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap:2rem;


    .form--side{
      background: #0c3441;
      padding: 10px;
      color: #2695cb;


      input, select{
        font-size: 1.7rem;
        padding: .5rem 0;

      }

      .form-group{
        display: flex;
        flex-direction: column;
        padding-top: .5rem;

      }

    }
  }

  img{
    width: 40%;
    height: 40%;
  }

}


.aside{
  grid-column: 7 / span 8;

  img{
    width: 100%;
  }


}

//Event info panel
.event-panel {
  height:60px;
  background: rgba(0, 0, 0, 0.72);
  color: #edd6ad; font-weight: 700;
  font-size: 150%;
  display: flex;
  margin-bottom: 2rem;
}

.event-panel > .eventItem {
  background: radial-gradient(rgba(114, 114, 114, 0.79), #3d3d3d);
  display: flex;
  flex: 1;
  justify-content: flex-end  ;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid silver;
}


// ---------- Info in events for admin like view, subcsribe atc.
.admin-panel{
  display: flex;
}



@media (max-width: 699px)  {
  .event-content{
    grid-column: 1 / -1;
  }

  .event-aside {
    grid-column: 1 / -1;
  }

  .event-content__body {
    padding: 1rem 0rem;
    img {
      margin-top: 2rem;
      width: 100%;

    }
  }


  .event-show__b {
    padding: 0rem;
  }


  .event-item{

    grid-template-columns: 1fr;

  }



}
