table {
  table-layout: fixed;
  //width: 100%;
  border-collapse: collapse;
  border: 3px solid #4d4d4d;
}

//thead th:nth-child(1) {
//  width: 30%;
//}

//thead th:nth-child(2) {
//  width: 20%;
//}
//
//thead th:nth-child(3) {
//  width: 15%;
//}
//
//thead th:nth-child(4) {
//  width: 35%;
//}

th, td {
  padding: .8rem;
}

th {
  letter-spacing: 2px;
}

td {
  //letter-spacing: 1px;
}

tbody td {
  //text-align: center;
}

tfoot th {
  text-align: right;
}



thead, tfoot {
  //background: url(leopardskin.jpg);
  color: rgba(255, 250, 255, 0.92);
  //text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: rgba(79, 79, 79, 0.88);
  //background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid #4d4d4d;
}


tbody tr:nth-child(odd) {
  background-color: #cbc6d1;
  //color: white;
}

tbody tr:nth-child(even) {
  background-color: #fdf0fe;
}

tbody tr {
  //background-image: url(noise.png);
}

table {
  background-color: #fff8f6;
}
