#contact-info {
  p {
    position: relative;
    padding-left: 25px;
  }

  span.fa {
    position: absolute;
    left: 0px;
    top: 3px;
  }
}

#copyright {
  padding: 10px;
  p{
    color: #00A6C7;
  }


  .author {
    color: #18bc9c;
  }
}
