/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
    @apply flex flex-col absolute right-0 border-2 border-gray-500 bg-white text-gray-500 rounded-md;
}

.dropdown-item {
    @apply p-2 px-6 hover: bg-gray-300 hover:text-gray-700;
}

.card {
    @apply border-2 border-gray-500 rounded-md mb-8;
}

.card_header {
    @apply p-3 text-base flex justify-between items-center font-semibold bg-blue-200 rounded-md rounded-b-none;
}

.card_body {
    @apply px-3;
}

.page {
    @apply container mx-auto text-gray-700 min-h-screen md: py-10 p-2;
}

.page_title {
    @apply text-gray-600 mb-4 md: flex justify-between font-semibold items-center text-center;
}

/* Forms*/
.form-group {
    @apply mb-3 w-full;
}

.form-control {
    @apply border-2 border-gray-300 rounded-md py-2 w-full px-2;
}

.btn {
    @apply border-2 border-gray-300 px-3 py-2 rounded-md;
}

.btn-small {
    @apply text-sm border-2 border-gray-300 py-1 px-3 rounded-md hover: bg-gray-200;
}

.btn-primary {
    @apply bg-blue-800 text-white hover: bg-blue-600;
}


.btn-default {
    @apply bg-white text-gray-700 hover: bg-blue-200;
}

.btn-success {
    @apply bg-green-600 text-gray-100 hover: bg-green-700;
}

.label-primary {
    @apply bg-blue-600 text-gray-100 px-2 rounded-md;
}

.label-primary:hover {
    @apply hover: bg-blue-700;
}

.label-success {
    @apply bg-green-600 text-gray-100 px-2 rounded-md;
}

.label-success:hover {
    @apply hover: bg-green-700;
}

.label-danger {
    @apply bg-red-600 text-gray-100 px-2 rounded-md;
}

.label-danger:hover {
    @apply hover: bg-red-700;
}

.label-default {
    @apply bg-gray-100 text-gray-500 px-2 rounded-md;
}

.label-default {
    @apply hover: bg-gray-200;
}

.fade-enter-active,
.fade-leave-active {
    @apply duration-300;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    @apply opacity-0;
}

/* html elementy */
/* a {
    @apply hover:underline;
} */



/*.btn:hover {*/
/*    @apply bg-blue-600;*/
/*}*/


.td {
    @apply px-2;
}