/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
    @apply flex flex-col absolute right-0 border-2 border-gray-500 bg-white text-gray-500 rounded-md;
}
.dropdown-item {
    @apply p-2 px-6 hover:bg-gray-300 hover:text-gray-700;
}

.card {
    @apply border-2 border-gray-500 rounded-md mb-8;
}

.card_header {
    @apply cursor-pointer p-3 text-base flex justify-between items-center font-semibold bg-blue-200 rounded-md rounded-b-none;
}

.card_body {
    @apply  px-3;
}

.page {
    @apply container mx-auto text-gray-700 min-h-screen md:py-10 p-2;
}

.page_title {
    @apply text-gray-600 mb-4 py-4 md:flex justify-between font-semibold;
}

/* Forms*/
.form-group {
    @apply mb-3 w-full;
}
.form-control {
    @apply border-2 border-gray-300 rounded-md py-2 w-full px-2;
}

.btn {
    @apply border-2 border-gray-300 px-2 rounded-md;
}

.btn:hover {
    @apply bg-blue-300;
}


